body{
    margin: 0px;
    padding: 0px;
    background-color: hsl(0, 0%, 100%);
    font-family: 'Hanken Grotesk', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25vh;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    border-radius: 30px;
    padding: 1rem;
    width:32vh;
}

.right{
    display:flex;
    flex-direction: column;
    width: 32vh;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    padding: 1vh 3vh 0vh 3vh;
    box-shadow: 0px 20px 50px -25px hsl(241, 100%, 89%);
}

.summary-header{
    color:hsl(224, 30%, 27%);
    margin-bottom: 2vh;
    margin-top: 2vh;
    font-weight: 800;
}
.summary-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3vh;
    padding: 1.2vh 2vh 1.2vh 2vh;
    margin-bottom: 1.5vh;
    border-radius:10px;
    font-weight: 600;
}

.reaction{
    background-color: hsla(0, 100%, 67%,0.1);
}
.reaction .category{
    
    color: hsl(0, 100%, 67%);
}

.memory{
    background-color: hsla(39, 100%, 56%,0.1);
    
}

.memory .category{
    color: hsl(39, 100%, 56%);
}

.verbal{
    background-color: hsla(166, 100%, 37%,0.1);
}

.verbal .category{
    color: hsl(166, 100%, 37%);
}

.visual{
    background-color: hsla(234, 85%, 45%, 0.1);
}

.visual .category{
    color: hsl(234, 85%, 45%);
}

.category{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.category-icon{
    margin-right: 1vh;
}

.button{
    border:none;
    border-radius:30px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(224, 30%, 27%);
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Hanken Grotesk', sans-serif;
    margin-top: 2vh;
    padding: 1.5vh
}

.button:hover{
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%),hsl(241, 81%, 54%));
}

.score{
    color: grey;
    font-size: 1.2rem;
}

.score-bold{
    color: hsl(224, 30%, 27%);
    font-weight: 700;
}

.note{
    color: hsl(241, 100%, 89%);
    text-align: center;
    font-size: 18px;
    padding: 0vh 2vh 2vh 2vh;
    margin-top: 0;
}

h2{
    color:hsl(0, 0%, 100%);
    margin: 3vh 1vh 2vh 1vh;
}

.result{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    width: 40%;
    height: 30%;
    padding: 3vh;
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.sub-text{
    font-weight: 700;
    color: hsl(241, 100%, 89%);
    margin-bottom: 0;
}

h1{
    font-size: 4rem;
    font-weight: 800;
    margin: 1vh 0 0 0;
    color: hsl(0, 0%, 100%);
}

h3{
    margin-top: 2vh;
    color: hsl(241, 100%, 89%);
}

@media(max-width:800px){
    main{
        flex-direction: column;
        margin-top: 0;
        
    }
    .left{
        width: 100%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        padding: 3vh;
    }
    .right{
        width: 100%;
        border-radius: none;
        box-shadow: none;
        padding: 3vh;
    }

    .summary-header{
        margin-bottom: 3vh;
    }
    
    .summary-item{
        height: 5vh;
        padding: 1vh 2vh 1vh 2vh;
    }
     
    .button{
        margin-top: 1vh;
        padding:2vh 1.5vh 2vh 1.5vh;
    }
    
    .summary-header{
        font-size: 1.5rem;
    }
    
    .note{
        padding: 0 4vh 0 4vh;
    }
    
    h2{
        margin-bottom: 1vh;
    }
    
    .result{
        height: 25%;
        width: 25%;
    }
    
    h1{
        margin: 0;
    }
    
    h3{
        margin-top: 0;
    }

}
