@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
  @media (min-width: 1440px){
    header{
        background-image: url("./images/bg-pattern-top-desktop.svg");
        background-repeat: no-repeat;
        grid-template-columns: repeat(2, 1fr);
        padding: 50px;
    }

    header h1{
      font-size: 64px;
      text-align: left;
    }

    header p{
      text-align: left;
      padding: 10px 50px 20px 50px;
      width: 65%;
    }

    .rates {
      padding: 50px;
    }

    .rate{
      display: flex;
      align-items: center;
      padding:20px;
    }

    .stars{
      display: flex;
      align-items: center;
    }
    .stars svg{
      display: block;
    }

    section{
        grid-template-columns: repeat(3, 1fr);
        background-position: right;
        background-image: url("./images/bg-pattern-bottom-desktop.svg");
        background-repeat: no-repeat;
    }
  }
  @media (max-width: 375px){
    header{
        background-image: url("./images/bg-pattern-top-mobile.svg");
        background-repeat: no-repeat;
      }
    
      section{
        background-position: right;
        background-image: url("./images/bg-pattern-bottom-mobile.svg");
        background-repeat: no-repeat;
      }

      header h1{
        font-size: 40px;
        text-align: center;
      }

      header p{
        text-align: center;
        padding: 0px 18px;
      }

      .rate{
        padding: 15px 10px;
      }
  }

  body{
    box-sizing: border-box;
    margin:0;
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    background-color: hsl(0, 0%, 100%);
  }

  header{
    display: grid;
    gap:15px;
    margin-bottom: 25px;
  }

  section{
    display: grid;
    gap: 15px;
    
  }

header h1 {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    line-height: .8;
    padding: 30px 50px 0px 50px;
}

header p {
    font-weight: 500;
    color: hsl(303, 10%, 53%);
    font-size: 18px;
    line-height: 1.2;   
}

.rate{
    background-color: hsl(300, 24%, 96%);
    margin: 10px 20px;
    border-radius: 10px;
    text-align: center;
    color:hsl(300, 43%, 22%);
    font-weight: 700;
}

.stars{
    margin-bottom: 10px;
    letter-spacing: 5px;
}

.opinion {
    margin: 2.5px 20px;
    border-radius: 10px;
    padding: 25px;
    background-color: hsl(300, 43%, 22%);
}

.opinion header{
    display: flex;
    align-items: center;
}

.opinion header h2{
    color: hsl(0, 0%, 100%);
    font-size: inherit;
    margin: 5px 10px;
    
}

.opinion header h3{
    color: hsl(333, 80%, 67%);
    font-size: inherit;
    font-weight: 400;
    margin: 5px 10px;
}

.opinion header img{
    border-radius: 100%;
    width: 35px;
    height: 35px;
}

.opinion p{
    color: hsl(0, 0%, 100%);
    line-height: 1.5;
    font-size: inherit;
}